@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: 0;
  overflow-x: hidden;
}

#homeButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#homeButton img {
  width: 100%;
  height: auto;
}

#homeButton:hover {
  background-color: #3db1ff;
  transform: scale(1.2);
}

#homeButton.show {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flag-icon {
  width: 50px;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: -171%;
  left: 50px;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dropdown-content a:hover {
  background-color: transparent;
}

.dropdown:hover .dropdown-content {
  display: inline;
}

.main-container {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 70%, #090230 100%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.logo {
  display: wrap;
  width: 100%;
  max-width: 40rem;
}

.front {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  gap: 2.5rem;
}

.menu li a {
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
}

.menu li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.menu li a:hover::after,
.menu li a:focus::after {
  visibility: visible;
  transform: scaleX(1);
}

.icons {
  display: flex;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;

  align-items: center;
}

.icons img {
  max-width: 45px;
  height: auto;
  margin: 0 2rem;
}

.github,
.linkedin {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
}

.github:hover,
.github:focus,
.linkedin:hover,
.linkedin:focus {
  filter: invert(20%) grayscale(20%);
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: #1b1c11;
}

.photo {
  width: 30rem;
  height: auto;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.photo.visible {
  opacity: 1;
}

.graphics {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 5px;
}

.border {
  border: solid 1px white;
  width: 50%;
  height: 50%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px) translateX(-150px) scaleX(0.5);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.border.animation {
  width: 100%;
  height: auto;
  opacity: 1;
  transform: translateY(0) translateX(0) scale(1);
}

.title {
  font-family: "Poppins";
  font-size: 350%;
  font-weight: 200;
  color: white;
  margin: 2%;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.title.design {
  align-self: flex-start;
}

.title.code {
  align-self: center;
}

.title.create {
  align-self: flex-end;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
.kompetenzen {
  font-size: 5rem;
  color: black;
  text-align: center;
  font-weight: 600;
  margin-top: 10rem;
}

.content {
  max-width: 100%;
  max-height: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.card1,
.card2,
.card3 {
  width: calc(33.333% - 20px);
  min-width: 300px;
  height: auto;
  min-height: 600px;
  border-radius: 5px;
  background-color: gainsboro;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-content img {
  margin-bottom: 1rem;
  max-width: 100%;
}

.überschrift {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-card {
  font-weight: 200;
  font-size: 1.1rem;
  padding: 1rem;
  margin-bottom: auto;
}

@media screen and (max-width: 768px) {
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: 0;
    overflow-x: hidden;
  }

  #homeButton {
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 6px;
  }

  #homeButton:hover #homeButton:focus {
    transform: scale(1.3);
  }

  .main-container {
    padding: 1rem;
  }

  .front {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    width: 23rem;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
  }

  .icons img {
    margin: 0.5rem;
    max-width: 30px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
  }

  .menu li {
    margin: 0.5rem 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
  }

  .photo {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .graphics {
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
  }

  .border {
    border: none;
    margin: 1%;
    width: 80%;
    padding: 1rem;
    align-items: center;
  }

  .title {
    font-size: 150%;
    margin: 1%;
  }

  .title.design {
    align-self: center;
  }

  .title.code {
    align-self: center;
  }

  .title.create {
    align-self: center;
  }

  .kompetenzen {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .card1,
  .card2,
  .card3 {
    height: auto;
    font-size: 1rem;
  }

  .überschrift {
    font-weight: 300;
    font-size: 1.5rem;
    align-items: center;
  }

  .über-mich-schrift {
    font-size: 2rem;
    color: white;
    font-weight: 300;
  }
}
